/* Colors */
$moderate-green: #8bd74b;
$light-grayish-green: #edf6ea;
$very-dark-blue: #183b59;
$grayish-blue: #b0b2c1;
$light-grayish-lime-green: #ECF6E9;
$very-light-gray: #f5f5f5;
$very-light-gray-2: #f2f2f2;
$white: #ffffff;

/* Media screen*/

$desktop-min: 1810px;
$tablet: 908px;
$mobile: 550px;